# Data Science Tools and Ecosystem

In [3]:
print (In this notebook, Data Science Tools and Ecosystem are summarized.)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3229808544.py, line 1)

In [4]:
print ?

SyntaxError: invalid syntax (3088891877.py, line 1)

In [5]:
print ("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

In [8]:
print ("Some of the popular languages that Data Scientists use are:")
1. C+
2. Python 
3. Julia

SyntaxError: invalid syntax (3997660567.py, line 2)

In [9]:
print ("Some of the popular languages that Data Scientists use are:")
print (". C+")
print ("Python")
print ("Julia")

Some of the popular languages that Data Scientists use are:
. C+
Python
Julia

In [10]:
print ("Some of the popular languages that Data Scientists use are:")
print ("1. C+")
print ("2. Python")
print ("3. Julia")

Some of the popular languages that Data Scientists use are:
1. C+
2. Python
3. Julia

In [11]:
print ("Some of the commonly used libraries used by Data Scientists include:")
print ("1.Numpy ")
print ("2. Pandas")
print ("3. Tensor Flow ")

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2. Pandas
3. Tensor Flow

| Data Science Tools|
| ---------------- |
| Jupyter NoteBook |
| Rstudio          |
| Visual Studieo   |

print ("Below are a few examples of evaluating arithmetic expressions in Python")

print("Below are a few examples of evaluating arithmetic expressions in Python")

### ("Below are a few examples of evaluating arithmetic expressions in Python")

In [15]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integersS

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [17]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60 
hours

SyntaxError: invalid syntax (2151404527.py, line 4)

In [18]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60 
hours

3.3333333333333335

print ("In this notebook, Data Science Tools and Ecosystem are summarized.")

print ** ("Objectives")

print  ("**Objectives")
* List popular languages for Data Science
*


print  ("**Objectives")
* List popular languages for Data Science
*

print  ("**Objectives")
* List popular languages for Data Science
*

print  ("**Objectives**")
* List popular languages for Data Science
* evaluating arithmetic expressions in Python
* List development environment

In [20]:
"**Objectives**
* List popular languages for Data Science
* evaluating arithmetic expressions in Python
* List development environment

SyntaxError: unterminated string literal (detected at line 1) (4050846285.py, line 1)

In [21]:
print  "**Objectives**"
* List popular languages for Data Science
* evaluating arithmetic expressions in Python
* List development environment

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (865851853.py, line 1)

In [22]:
print  ("**Objectives**")
* List popular languages for Data Science
* evaluating arithmetic expressions in Python
* List development environment

SyntaxError: invalid syntax (130183193.py, line 2)

In [23]:
print  ("**Objectives**")
print(* "List popular languages for Data Science")
print("* Evaluating arithmetic expressions in Python")
print("* List development environment")

**Objectives**
L i s t   p o p u l a r   l a n g u a g e s   f o r   D a t a   S c i e n c e
* Evaluating arithmetic expressions in Python
* List development environment

In [24]:
print("**Objectives**")
print("* List popular languages for Data Science")
print("* Evaluating arithmetic expressions in Python")
print("* List development environment")

**Objectives**
* List popular languages for Data Science
* Evaluating arithmetic expressions in Python
* List development environment

print("**Objectives**")
print("* List popular languages for Data Science")
print("* Evaluating arithmetic expressions in Python")
print("* List development environment")

print("**Objectives**")
print("* List popular languages for Data Science")
print("* Evaluating arithmetic expressions in Python")
print("* List development environment")

print("**Objectives**")
print("* List popular languages for Data Science")
print("* Evaluating arithmetic expressions in Python")
print("* List development environment")

print

print ("itn")

print ("**Objectives:**")
print ("*  List popular languages for Data Science")
print ("* Evaluating arithmetic expressions in Python")
print ("* List development environment")

In [1]:
print ("**Objectives:**")
print ("*  List popular languages for Data Science")
print ("* Evaluating arithmetic expressions in Python")
print ("* List development environment")

**Objectives:**
*  List popular languages for Data Science
* Evaluating arithmetic expressions in Python
* List development environment

## James Schnider

print (**Objectives:**)

**Objectives:**
* List popular languages for Data Science
* Evaluating arithmetic expressions in Python
* List development environment